beautifulsoup4==4.4.0
Django==1.10.6
django-appconf==1.0.1
django-compressor==1.5
djangorestframework==3.6.2
drf-nested-routers==0.10.0
lxml==3.4.4
oauthlib==1.1.2
Pillow==3.0.0
psycopg2==2.6
requests==2.7.0
six==1.10.0
wheel==0.29.0
channels==1.1.1
asgi_redis==1.1.0
netifaces==0.10.5
daphne==1.1.0
gitpython
